/* Fonts being used by the oba */
@font-face {
    font-family: AvenirRoman;
    src: url(../font/Avenir-Roman.ttf);
    /*value: auto;*/
    /*initial:auto;*/
}

@font-face {
    font-family: AvenirMedium;
    src: url(../font/Avenir-medium.ttf);
}

@font-face {
    font-family: AvenirBlack;
    src: url(../font/Avenir-Black.ttf);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Poppins', sans-serif; */
}

:root {
    /* ===== Colors ===== */
    --body-color: #E4E9F7; /*achtergrondkleur*/
    --sidebar-color-white: #FFFFFF;
    --background-color-buttons-white: #FFFFFF; /*dit teogeovoegd  kleur van de oba*/
    --primary-color-red: #E61C24; /*kleur van de oba*/
    --primary-color-light-licht-blauwe-achtergrondkleur: #F6F5FF;
    --toggle-color-licht-grijs: #D9D9D9; /*kleur van de oba*/
    --text-color-zwart: #000000; /*kleur van de oba**/
    /*#000000*/
    /*oude kleur  --text-color: #707070;*/

    /* ====== Transition ====== */
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;


    /*eigen custom proporties*/
    /*    border*/
    --border-color-line: 0.2em solid #000000;
    /*afstand margin*/
    --margin-1em: 1em;
    --margin-top-3em: 3em;
    --margin-top-2em: 2em;
    --margin-bottom-1em: 1em;

    /*    widt*/
    --with-15em: 15em;

    /*gridtemplate*/
    --grid-template-areas-indeling: "inleiding_zoekvak meer_info_filters" "boeken-overzicht-boeken meer_info_filters";
    --grid-template-columns-indeling: repeat(2, minmax(0, 10fr));


}


body {
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
    font-family: AvenirMedium;
}

/* SCROLLBAR */
/* BRON: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_scrollbars_styling */

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    background-color: transparent;
}

body::-webkit-scrollbar-thumb {
    background-color: rgba(61, 61, 61, .418);
    border-radius: 4px;
}

::selection {
    background-color: var(--primary-color-red);
    color: #fff;
}

body.dark {
    --body-color: #18191a;
    --sidebar-color-white: #242526;
    /*--primary-color: #3a3b3c;*/
    --primary-color-light-licht-blauwe-achtergrondkleur: #3a3b3c;
    --toggle-color-licht-grijs: #fff;
    --text-color-zwart: #fff; /*dit doet niks #ccc*/
    /*color: white;*/
}

/* ===== Sidebar ===== */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color-white);
    transition: var(--tran-05);
    z-index: 100;
}

.sidebar.close {
    width: 88px;
}

/* ===== Reusable code - Here ===== */
.sidebar li {
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon {
    min-width: 60px;
    border-radius: 6px;
}

.sidebar .icon {
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.sidebar .text,
.sidebar .icon {
    color: var(--text-color-zwart);
    transition: var(--tran-03);
}

.sidebar .text {
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}

.sidebar.close .text {
    opacity: 0;
}

.sidebar .text-long,
.sidebar .icon {
    color: var(--text-color-zwart);
    transition: var(--tran-03);
}

.sidebar .text-long {
    font-size: 17px;
    font-weight: 500;
    resize: none;
    opacity: 1;
}

.sidebar.close .text-long {
    resize: none;
    opacity: 0;
}

/* =========================== */

.sidebar header {
    position: relative;
}

.sidebar header .image-text {
    display: flex;
    align-items: center;
}

.sidebar header .logo-text {
    display: flex;
    flex-direction: column;
}

header .image-text .name {
    /*margin-top: 2px;*/
    margin-top: var(--margin-top-2em);
    font-size: 15px;
    font-weight: 600;
}

header .image-text .profession {
    font-size: 16px;
    margin-top: -2px;
    display: block;
}

.sidebar header .image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .image img {
    width: 3rem;
    border-radius: 180px;
}

.sidebar header .toggle {
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color-red);
    color: var(--sidebar-color-white);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
}

body.dark .sidebar header .toggle {
    color: var(--text-color-zwart);
}

.sidebar.close .toggle {
    transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu {
    margin-top: 18px;
}

.sidebar li.search-box {
    border-radius: 6px;
    background-color: var(--primary-color-light-licht-blauwe-achtergrondkleur);
    cursor: pointer;
    transition: var(--tran-05);
}

.sidebar li.search-box input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--primary-color-light-licht-blauwe-achtergrondkleur);
    color: var(--text-color-zwart);
    border-radius: 6px;
    font-size: 17px;
    font-weight: 500;
    transition: var(--tran-05);
}

.sidebar li a {
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}

.sidebar li a:hover {
    background-color: var(--primary-color-red);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
    color: var(--sidebar-color-white);
}

body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
    color: var(--text-color-zwart);
}

.sidebar .menu-bar {
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
    /*overflow: auto;*/
}

.menu-bar::-webkit-scrollbar {
    display: none;
}

.sidebar .menu-bar .mode {
    border-radius: 6px;
    background-color: var(--primary-color-light-licht-blauwe-achtergrondkleur);
    position: relative;
    transition: var(--tran-05);
}

.menu-bar .mode .sun-moon {
    height: 50px;
    width: 60px;
}

.mode .sun-moon i {
    position: absolute;
}

.mode .sun-moon i.sun {
    opacity: 0;
}

body.dark .mode .sun-moon i.sun {
    opacity: 1;
}

body.dark .mode .sun-moon i.moon {
    opacity: 0;
}

.menu-bar .bottom-content .toggle-switch {
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}

.toggle-switch .switch {
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color-licht-grijs);
    transition: var(--tran-05);
}

.switch::before {
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color-white);
    transition: var(--tran-04);
}

body.dark .switch::before {
    left: 20px;
}

.home {
    position: absolute;
    top: 0;
    left: 300px;
    height: 100vh;
    width: calc(100% - 250px);
    transition: var(--tran-05);
}

.home .text {
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color-zwart);
    padding: 12px 60px;
}

.sidebar.close ~ .home {
    left: 126px;
    height: 100vh;
    width: calc(100% - 78px);
    font-size: 1.1em;
}

body.dark .home .text {
    color: var(--text-color-zwart);
}

/*boetetabel*/
/*dit is de naam boek en datum inleveren*/
th {
    /*color: #FFFFFF;*/
    background-color: var(--sidebar-color-white);
    border: var(--border-color-line);
    /*border: 1px solid #dddddd; !*  hier word een randje meegegeven aan de th  *!*/
    font-size: 1.5em;
    line-height: 1.5;


}

/*dit zijn de celblockej*/
td {
    background-color: var(--sidebar-color-white);
    border: var(--border-color-line);
    font-size: 1em;
    line-height: 1.5;
    margin: var(--margin-1em);
}

/*algemeen*/


.grid-container, .grid-container-filter {
    display: grid; /*1 grote container met daarin 4 kinderen*/
    /*grid-gap: 1em;*/
    grid-template-areas:
            "inleiding_zoekvak "/*regel1*/
            "meer_info_filters"
            "boeken-overzicht-boeken";
    /*grid-template-columns: 1fr;*/
}

.grid-item, .grid-item-filter { /*dit zijn de 3 kinderen met daarin de inhoud ide steeds meebeweegt*/
    padding: 1em;
}

.grid-item:nth-child(1) { /*inleiding_zoekvak*/
    grid-area: inleiding_zoekvak;
    margin-bottom: var(--margin-bottom-1em);
}


.grid-item:nth-child(2) { /*meer info*/
    grid-area: meer_info_filters;


}

.grid-item:nth-child(3) { /*boete*/
    grid-area: boeken-overzicht-boeken;
}

p:nth-child(2) { /*dit is Welkom op uw persoonlijke pagina van de website van de OBA. p */
    margin-bottom: var(--margin-bottom-1em);
}

details:nth-child(n+1):nth-child(-n+7) { /*nummer 1 tot en met 5*/
    margin-bottom: var(--margin-bottom-1em);
}

button, .reset-button, .filterbutton {
    border: none;
    box-shadow: 10px 5px 5px var(--toggle-color-licht-grijs);
    background-color: var(--background-color-buttons-white);
    /*color: #202121;*/
    /*background-color: #DDFF00;*/
    font-size: 1em;
    font-family: AvenirMedium;
    border-radius: 6px;
    padding: 0.5rem;
    margin-left: 0.2em;
    margin-top: var(--margin-1em);
}

button:hover {
    color: red;
}

.grid-item-filter:nth-child(1), .grid-item-filter:nth-child(2), .grid-item-filter:nth-child(3) {
    margin-bottom: 2em;

}

form label {
    /*margin-right: 1rem;*/
    font-family: AvenirMedium,Verdana, Arial, Helvetica, sans-serif;
}

.i-search {
    margin-right: 1rem;
    font-size: 2em;
}

.input-searchbar-form {
    display: flex;
    align-items: center;
    width: 20rem; /* verander zoals gewenst */
}

#input_searchfunciton {
    padding: 0.5rem 0.5rem;
    border-radius: 0.75rem;
    border: none;
    outline: 0;
    font-family: AvenirMedium, 'sans serif';
    font-size: 1rem;
    height: 1.5rem;
}

.item-filter {
    margin-bottom: 2em;
}

.showresults {
    display: none;
    color: var(--text-color-zwart);
}

.collaps-open-funtion-boeken, .collaps-open-funtion-boeken_second, .collaps-open-funtion-boeken_third { /*dit zijn de buttons in de lijst en op deze pagina voor meer info*/
    display: none;
}

.input_checkboxes {
    width: 1.4em;
    height: 1.5em;
    vertical-align: middle;
    margin: 0.5em;
}

.hide-li-sign {
    list-style-type: none;
    margin-bottom: var(--margin-bottom-1em);
}

a:nth-child(1) {
    color: var(--text-color-zwart);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
.div-container-image{
    display: grid;
}
.title-book-link{
    display: grid;
    align-self: center;
}

@media (min-width: 44em)  and (max-width: 60em) {
    /*mini ipad*/
    .grid-container, .grid-container-filter {
        display: grid;
        grid-template-areas:   var(--grid-template-areas-indeling);
        grid-template-columns: var(--grid-template-columns-indeling);
    }

    .grid-container-filter {
        margin-top: 5em;
    }

    .grid-item:nth-child(1) {
        margin-right: 1em;
    }

    .grid-item-filter:nth-child(1) { /*meer info*/
        grid-area: inleiding_zoekvak;


    }

    .grid-item-filter, .grid-item-filter:nth-child(2) { /*meer info*/
        grid-area: meer_info_filters;
        margin-bottom: var(--margin-bottom-1em);


    }

    .grid-item:nth-child(3) {
        margin-right: 5em;
    }

    .grid-item-filter, .grid-item-filter:nth-child(3) { /*meer info*/
        grid-area: boeken-overzicht-boeken;

    }

    .grid-item-filter:nth-child(2) {
        justify-self: center;
    }

/*    algemneen*/
    .title-book-link{
        display: grid;
        align-self: center;
    }
}


@media (min-width: 60em)  and (max-width: 80em) {
    /*mini ipad*/
    .grid-container {
        display: grid;
        grid-template-areas:   var(--grid-template-areas-indeling);
        grid-template-columns: var(--grid-template-columns-indeling);
    }


    .grid-container-filter {
        display: grid;
        grid-template-areas:   var(--grid-template-areas-indeling);
        grid-template-columns: var(--grid-template-columns-indeling);
        margin-top: 5em;
    }

    .grid-item-filter:nth-child(1) { /*meer info*/
        grid-area: inleiding_zoekvak;


    }

    .grid-item-filter, .grid-item-filter:nth-child(2) { /*meer info*/
        grid-area: meer_info_filters;
        margin-bottom: var(--margin-bottom-1em);


    }

    .grid-item-filter, .grid-item-filter:nth-child(3) { /*meer info*/
        grid-area: boeken-overzicht-boeken;


    }

    p:nth-child(3), .text-boeken-overzicht { /*dit is Welkom op uw persoonlijke pagina van de website van de OBA. p */
        max-width: 30em;
    }

    .grid-books-blocks {
        display: grid;
        grid-template-areas: "boek1 boek2";
    }


}

/* hier is grid blockcs het verschil en de rest is hetzelfde*/
@media (min-width: 80em)and (max-width: 100em) {
    /*mini ipad*/
    .grid-container {
        display: grid;
        grid-template-areas:   var(--grid-template-areas-indeling);
        grid-template-columns: var(--grid-template-columns-indeling);
    }


    .grid-container-filter {
        display: grid;
        grid-template-areas:   var(--grid-template-areas-indeling);
        grid-template-columns: var(--grid-template-columns-indeling);
        margin-top: 5em;
    }

    .grid-item-filter:nth-child(1) { /*meer info*/
        grid-area: inleiding_zoekvak;
    }

    .grid-item-filter, .grid-item-filter:nth-child(2) { /*meer info*/
        grid-area: meer_info_filters;
        margin-bottom: var(--margin-bottom-1em);


    }

    .grid-item-filter, .grid-item-filter:nth-child(3) { /*meer info*/
        grid-area: boeken-overzicht-boeken;


    }

    p:nth-child(3), .text-boeken-overzicht { /*dit is Welkom op uw persoonlijke pagina van de website van de OBA. p */
        max-width: 35em;
    }

    .grid-books-blocks {
        display: grid;
        grid-template-areas: "boek1 boek2 boek3";
        gap: 2em;
    }


}

@media (min-width: 100em) {
    .grid-container {
        display: grid;
        grid-template-areas:   var(--grid-template-areas-indeling);
        grid-template-columns: var(--grid-template-columns-indeling);
    }

    p:nth-child(3), .text-boeken-overzicht { /*dit is Welkom op uw persoonlijke pagina van de website van de OBA. p */
        max-width: 35em;
    }

    .grid-container-filter {
        display: grid;
        grid-template-areas:   var(--grid-template-areas-indeling);
        grid-template-columns: var(--grid-template-columns-indeling);
        margin-top: 5em;
    }

    .grid-item-filter:nth-child(1) { /*meer info*/
        grid-area: inleiding_zoekvak;
    }

    .grid-item-filter, .grid-item-filter:nth-child(2) { /*meer info*/
        grid-area: meer_info_filters;
        margin-bottom: var(--margin-bottom-1em);


    }

    .grid-item-filter, .grid-item-filter:nth-child(3) { /*meer info*/
        grid-area: boeken-overzicht-boeken;
        /*margin-bottom: 1em;*/
        /*justify-self: center;*/

    }

    .grid-books-blocks {
        display: grid;
        grid-template-areas: "boek1 boek2 boek3 boek4";
        gap: 2em;
    }
}

/*todo bij javascript de 2de en 3de fitlerfuncite toegevoen*/